<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h2>Edit {{ tableName }}</h2>
    </div>
    <div class="modal-body">
      <form class="form-grid">
        <div *ngFor="let col of columns" class="form-field">
          <label>{{ col.columnName }}</label>
          <input
            [type]="getInputType(col)"
            [(ngModel)]="row[col.columnName]"
            [name]="col.columnName"
          />
        </div>
      </form>
      <div *ngIf="validationErrors.length" class="errors">
        <div *ngFor="let err of validationErrors">{{ err }}</div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="cancel()">Cancel</button>
      <button class="save-btn" (click)="saveRecord()">Save</button>
    </div>
  </div>
</div>