<div class="app-layout">
  <app-table-sidebar
    [selectedTable]="selectedTableForColumnSearch"
    [showAuditLog]="showAuditLog"
    [currentUser]="permissionsService.currentUser"
    (tableSelected)="toggleTable($event)"
    (auditLogClicked)="showAuditLog = true; selectedTableForColumnSearch = null"
  ></app-table-sidebar>

  <div class="main-content">
    <header
      class="content-header"
      *ngIf="selectedTableForColumnSearch && !showAuditLog"
    >
      <h1 class="table-title" *ngIf="permissionsService.permissions.canView">
        טבלת נתונים: {{ selectedTableForColumnSearch.tableName }}
        <span class="records-count">
          ({{ selectedTableForColumnSearch.rowData?.length || 0 }} רשומות)
        </span>
      </h1>

      <button
        class="btn-add-row"
        *ngIf="permissionsService.permissions.canAdd"
        (click)="openAddModal()"
      >
        + הוספת רשומה חדשה
      </button>
    </header>

    <div
      class="empty-state"
      *ngIf="!selectedTableForColumnSearch && !showAuditLog"
    >
      <div class="empty-icon">📊</div>
      <h2>בחר טבלה</h2>
      <p>כדי להציג נתונים ולהתחיל לעבוד עם המערכת</p>
    </div>

    <app-tables-grid
      *ngIf="
        selectedTableForColumnSearch &&
        !showAuditLog &&
        permissionsService.permissions.canView
      "
      [table]="selectedTableForColumnSearch"
      [permissions]="permissionsService.permissions"
      (rowAction)="onRowActionFromGrid($event)"
    ></app-tables-grid>

    <!-- <app-audit-log *ngIf="showAuditLog" (close)="showAuditLog = false">
    </app-audit-log> -->
  </div>
</div>

<app-manage-record-modal
  *ngIf="selectedRecord !== null"
  [table]="selectedTableForColumnSearch"
  [record]="selectedRecord"
  [isNewRecord]="isNewRecordMode"
  (close)="selectedRecord = null"
  (save)="handleDataFromManage($event)"
></app-manage-record-modal>

<app-reason-modal
  *ngIf="showReasonModal"
  [data]="reasonModalData"
  (confirm)="finalizeAction($event)"
  (cancel)="showReasonModal = false"
></app-reason-modal>
